.Friend-Name {
    font-size: 45px;
}

.Friend-Email {
    font-size: 30px;
}

.Friend-Survey-Table {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

.Center {
    text-align: center;
    margin-left: 20px;
}